.input {
    display: flex;
    justify-content: center;
    width: 85%;
    position: relative;
    align-items: center;
}

.input-box {
    width: 100%;
    border-radius: 50px;
    padding: 1.25rem 1.75rem;
    font-size: 1.5rem;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 .5rem #282A29;
}

.input-box:focus {
    box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.5);
    outline: none;
}

.input-submit {
    position: absolute;
    width: 6rem;
    height: 3rem;
    margin: .75rem;
    border-radius: 50px;
    border: none;
    right: 0;
    font-size: 15px;
    background-color: #375D6C;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 .5rem #282A29
}

.input-submit:hover {
    background-color: #71A2B6;
}

.input-submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 .25rem #282A29;
}

.todo-list-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 2rem 0 0 0;
}

.todo-list-heading {
    font-size: 2rem;
    color: white;
}

.todo-list-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    background-color: #60B2E5;
    padding-bottom: 3rem;
    transition: 0.5s
}

.todo-list-completed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    background-color: #982649;
    padding-bottom: 3rem;
    transition: 0.5s
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.completed-list {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.todo-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 1rem;
    background-color: #DADA50;
    transition: 0.2s
}

.todo-card:hover {
    box-shadow: 0 0 5px #282A29;
    transform: scale(1.02);
}

.todo-card-form {
    width: 100%;
}

.todo-card-text {
    padding: .5rem;
    border: none;
    font-size: 1.25rem;
}

.todo-card-icons {
    display: flex;
    margin-left: .25rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.todo-card-edit {
    display: flex;
    outline: none;
}

.drag-active {
    background-color: #73BBE8;
    transition: 0.5s;
}

.drag-completed {
    background-color: #CE3B67;
    transition: 0.5s;
}

.drag {
    box-shadow: 0 0 2rem #282A29;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .input {
        width: 95%;
    }

    .todo-list {
        width: 90%;
        margin-bottom: 1rem;
    }

    .todo-list-container {
        width: 95%;
        flex-direction: column;
    }
  }

